.container {
    margin-top: 50px;
}

.card-img-top {
    height: 300px;
    align-self: center;
}

@media screen and (min-width: 320px) {
  .card-img-top {
    width: 300px;
    align-self: center;
  }
}

.card {
    margin: 5px !important;
}

.sold {
    color: red !important;
}

.head {
  background-color: #ffee58;
  margin-top: 50px;
}
